.plane-select__control {
    width: 100%;
}

.plane-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.plane-option > div:first-child {
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plane-model {
    font-weight: 550;
    font-size: 15px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plane-info {
    font-size: 12px;
    color: #a8a8a8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plane-seats {
    font-weight: 500;
    font-size: 12px;
    color: #7c7c7c;
    flex-shrink: 0;
    margin-left: 10px;
}

.plane-select__menu-list::-webkit-scrollbar {
    width: 8px;
}

.plane-select__menu-list::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 8px;
}

.plane-select__menu-list::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 8px;
}

.plane-select__menu-list::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.plane-select__control--is-disabled {
    background-color: #3a3a3a !important;
    border: none !important;
    color: #777 !important;
    opacity: 0.7;
    cursor: not-allowed !important;
    box-shadow: none !important;
}

.plane-select__single-value--is-disabled {
    color: #777 !important;
}

.plane-select__placeholder--is-disabled {
    color: #777 !important;
}

.plane-select__indicators svg {
    opacity: 0.8;
}
